/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, top right ;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: hsl(233, 13%, 49%);
    font-size: 24px;
    padding: 40px 0px 30px 0px;
}

.header-two {
    color: white;
}

h2 {
    font-size: 16px;
    color: hsl(234, 14%, 74%);
}

.price {
    font-size: 40px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(232, 13%, 33%);
}

.card-two 
.price {
    color: white;
}

.dollar-span {
    font-size: 28px;
    margin-right: 5px;
}

.annually {
    display: none;
}

p {
    font-size: 15px;
}

.toggle-selector {
    display: flex;
    width: 300px;
    color: hsl(234, 14%, 74%);
    justify-content: space-around;
    align-items: center;
}

#toggle-space {
    background-color: hsl(237, 63%, 64%);
    width: 50px;
    height: 22px;
    margin: 0px 0px 0px 0px;
    padding: 3px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#toggle-ball {
    background-color: white;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    transition-duration: 5000;
}

#toggle-space:hover {
    opacity: 50%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 60px auto;
    text-align: center;
}

.card-one,
.card-two,
.card-three {
    background-color: white;
    padding: 20px;
    width: 80%;
    box-shadow: 0px 0px 19px -7px rgba(0, 0, 0, 0.75);
}

.card-two {
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border-radius: 10px;
    padding: 45px;
}

.card-two p,
.card-one p,
.card-three p {
    padding: 18px;
}

.card-one p,
.card-three p {
    color: hsl(233, 13%, 49%);
}

.card-one {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card-three {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

hr {
    opacity: 30%;
    color: white;
}

button {
    width: 100%;
    margin: 25px auto 12px auto;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: hsl(237, 63%, 64%);
    border: none;
    transition-duration: 3000;
    text-transform: uppercase;
    font-weight: 700;
}

.card-two button {
    color: hsl(237, 63%, 64%);
    background-color: white;
}

.card-two button:hover {
    color: white;
    background-color: transparent;
}

button:hover {
    color: hsl(237, 63%, 64%);
    background-color: transparent;
}

@media screen and (min-width: 375px) and (max-width: 900px) {

    /* Styles for mobile screens */
    body {
        width: auto;
        height: auto;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .card-one,
    .card-two,
    .card-three {
        margin: 1rem;
        border-radius: 10px;
        width: 80%;
    }

    .card-two {
        background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: white;
        border-radius: 10px;
        padding: 20px;
    }

    .container {
        background-image: url(images/bg-top.svg);
        background-repeat: no-repeat;
        background-position: 200px -50px;
        background-size: 90%;
    }
}